.ant-popover-inner-content___zRDKf {
  padding: 0px !important;
}
.SECTION___1MOIY {
  width: 100%;
  display: flex;
  justify-content: center;
}
.SECTION___1MOIY > .SECTION_CENTER___j4PqL {
  width: 100%;
  max-width: 1600px;
  padding: 0 40px;
}
@media (max-width: 768px) {
  .SECTION___1MOIY > .SECTION_CENTER___j4PqL {
    padding: 0 10px;
  }
}
.BUTTON___3kjv- {
  width: auto;
  height: 32px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  border: 1px solid #aaa;
}
@media (max-width: 575.98px) {
  .ioHideOnPhone___3JhX2 {
    display: none !important;
  }
}
@media (min-width: 576px) {
  .ioHideOnPC___2pJPQ {
    display: none !important;
  }
}
.stdioSearch___3uqpc {
  width: 100%;
  min-height: 1px;
  display: block;
  position: relative;
}
.stdioSearch___3uqpc > .searchInput___2JdZt {
  width: 100%;
  height: 40px;
  background-color: #f0f0f0;
  border-radius: 999px;
  float: left;
}
.stdioSearch___3uqpc > .searchInput___2JdZt input {
  width: calc(100% - 2 * 40px);
  border: none;
  border-color: transparent;
  background-color: transparent;
  font-size: 0.9rem;
  padding: 8px 14px;
  font-size: 1rem;
  float: left;
}
.stdioSearch___3uqpc > .searchInput___2JdZt input:focus {
  box-shadow: none;
  border-color: transparent;
  outline: none;
}
.stdioSearch___3uqpc > .searchInput___2JdZt .button___1zOFi {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  float: left;
}
.stdioSearch___3uqpc > .searchInput___2JdZt .button___1zOFi.hide___2gd99 {
  display: none;
}
.stdioSearch___3uqpc > .searchInput___2JdZt .button___1zOFi:nth-of-type(2) {
  float: right;
}
.stdioSearch___3uqpc > .autoComplete___2z1HZ {
  width: 100%;
  max-height: 400px;
  background-color: #fff;
  border-radius: 8px;
  display: none;
  position: absolute;
  border: 1px solid #e5e5e5;
  border-bottom: 3px solid #e5e5e5;
  top: 42px;
  z-index: 1;
  float: left;
}
.stdioSearch___3uqpc > .autoComplete___2z1HZ .autoCompleteBox___3kdLp {
  width: 100%;
  float: left;
}
.stdioSearch___3uqpc > .autoComplete___2z1HZ .autoCompleteBox___3kdLp > .section___3pqnT {
  width: 100%;
  float: left;
}
.stdioSearch___3uqpc > .autoComplete___2z1HZ .autoCompleteBox___3kdLp > .section___3pqnT > .head___3UiMd {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  float: left;
}
.stdioSearch___3uqpc > .autoComplete___2z1HZ .autoCompleteBox___3kdLp > .section___3pqnT > .head___3UiMd > span:nth-of-type(1) {
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
}
.stdioSearch___3uqpc > .autoComplete___2z1HZ .autoCompleteBox___3kdLp > .section___3pqnT > .head___3UiMd > span:nth-of-type(2) {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 999px;
  text-align: center;
  cursor: pointer;
}
.stdioSearch___3uqpc > .autoComplete___2z1HZ .autoCompleteBox___3kdLp > .section___3pqnT > .head___3UiMd > span:nth-of-type(2):hover {
  background-color: #eee;
}
.stdioSearch___3uqpc > .autoComplete___2z1HZ .autoCompleteBox___3kdLp > .section___3pqnT > .body___37j9x {
  width: 100%;
  float: left;
}
.stdioSearch___3uqpc > .autoComplete___2z1HZ .autoCompleteBox___3kdLp > .section___3pqnT > .body___37j9x > ul {
  width: 100%;
  margin: 0;
  padding: 0;
  display: table;
}
.stdioSearch___3uqpc > .autoComplete___2z1HZ .autoCompleteBox___3kdLp > .section___3pqnT > .body___37j9x > ul.searchTerms___3mV9d {
  padding: 0 15px 15px 15px;
}
.stdioSearch___3uqpc > .autoComplete___2z1HZ .autoCompleteBox___3kdLp > .section___3pqnT > .body___37j9x > ul.searchTerms___3mV9d > li {
  width: auto;
  max-width: 200px;
  margin: 0 4px 4px 0;
  padding: 5px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 4px;
  background-color: #f5f5f5;
  float: left;
}
.stdioSearch___3uqpc > .autoComplete___2z1HZ .autoCompleteBox___3kdLp > .section___3pqnT > .body___37j9x > ul.searchTerms___3mV9d > li:hover {
  background-color: #eee;
}
.stdioSearch___3uqpc > .autoComplete___2z1HZ .autoCompleteBox___3kdLp > .section___3pqnT > .body___37j9x > ul.bundles___3iBwT > li,
.stdioSearch___3uqpc > .autoComplete___2z1HZ .autoCompleteBox___3kdLp > .section___3pqnT > .body___37j9x > ul.profiles___2szaX > li {
  width: 100%;
  height: 40px;
  margin: 0 4px 4px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}
.stdioSearch___3uqpc > .autoComplete___2z1HZ .autoCompleteBox___3kdLp > .section___3pqnT > .body___37j9x > ul.bundles___3iBwT > li > .icon___1j_Bq,
.stdioSearch___3uqpc > .autoComplete___2z1HZ .autoCompleteBox___3kdLp > .section___3pqnT > .body___37j9x > ul.profiles___2szaX > li > .icon___1j_Bq {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  float: left;
}
.stdioSearch___3uqpc > .autoComplete___2z1HZ .autoCompleteBox___3kdLp > .section___3pqnT > .body___37j9x > ul.bundles___3iBwT > li > .icon___1j_Bq img,
.stdioSearch___3uqpc > .autoComplete___2z1HZ .autoCompleteBox___3kdLp > .section___3pqnT > .body___37j9x > ul.profiles___2szaX > li > .icon___1j_Bq img {
  width: 30px;
  height: 30px;
  border-radius: 999px;
}
.stdioSearch___3uqpc > .autoComplete___2z1HZ .autoCompleteBox___3kdLp > .section___3pqnT > .body___37j9x > ul.bundles___3iBwT > li > .text___1GbRN,
.stdioSearch___3uqpc > .autoComplete___2z1HZ .autoCompleteBox___3kdLp > .section___3pqnT > .body___37j9x > ul.profiles___2szaX > li > .text___1GbRN {
  width: calc(100% - 40px);
  height: 40px;
  line-height: 40px;
  float: left;
}
.stdioSearch___3uqpc > .autoComplete___2z1HZ .autoCompleteBox___3kdLp > .section___3pqnT > .body___37j9x > ul.bundles___3iBwT > li:hover,
.stdioSearch___3uqpc > .autoComplete___2z1HZ .autoCompleteBox___3kdLp > .section___3pqnT > .body___37j9x > ul.profiles___2szaX > li:hover {
  background-color: #eee;
}
.stdioSearch___3uqpc > .autoComplete___2z1HZ .autoCompleteBox___3kdLp > .section___3pqnT > .foot___1uUeA {
  width: 100%;
  height: 40px;
  line-height: 40px;
  display: table;
  padding: 0 0 0 12.5px;
  cursor: pointer;
}
.stdioSearch___3uqpc > .autoComplete___2z1HZ .autoCompleteBox___3kdLp > .section___3pqnT > .foot___1uUeA:hover {
  background-color: #eee;
}
.stdioSearch___3uqpc.active___1oeer > .autoComplete___2z1HZ {
  display: block;
}

.ant-popover-inner-content___3ApIW {
  padding: 0px !important;
}
.SECTION___1hEw1 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.SECTION___1hEw1 > .SECTION_CENTER___26Dha {
  width: 100%;
  max-width: 1600px;
  padding: 0 40px;
}
@media (max-width: 768px) {
  .SECTION___1hEw1 > .SECTION_CENTER___26Dha {
    padding: 0 10px;
  }
}
.BUTTON___10E1n {
  width: auto;
  height: 32px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  border: 1px solid #aaa;
}
@media (max-width: 575.98px) {
  .ioHideOnPhone___2fqBP {
    display: none !important;
  }
}
@media (min-width: 576px) {
  .ioHideOnPC___1vqHT {
    display: none !important;
  }
}
.stdioHeader___3SkSo {
  width: 100%;
  padding-top: 54px;
}
.stdioHeader___3SkSo .stdioHeaderFloat___2UraN {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 54px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 0;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px, rgba(0, 0, 0, 0.05) 0px 1px 4px 0px, rgba(0, 0, 0, 0.05) 0px 2px 8px 0px;
}
.stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .SECTION_CENTER___26Dha {
  width: 100%;
  max-width: 1600px;
  padding: 0 40px;
}
@media (max-width: 768px) {
  .stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .SECTION_CENTER___26Dha {
    padding: 0 10px;
  }
}
.stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 {
  width: 100%;
  max-width: 1600px;
  padding: 0 40px;
  height: 54px;
}
@media (max-width: 768px) {
  .stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 {
    padding: 0 10px;
  }
}
.stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 > .logo___2z-d5 {
  width: 54px;
  height: 54px;
  float: left;
}
.stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 > .logo___2z-d5 a {
  width: 44px;
  height: 100%;
  display: block;
  display: flex;
  align-items: center;
  transition: 0.4s;
}
.stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 > .logo___2z-d5 a img {
  width: 44px;
  height: 44px;
}
.stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 > .logo___2z-d5 a:hover {
  transform: rotate(90deg);
}
.stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 > .searchButton___2Sn7q {
  width: 44px;
  height: 44px;
  line-height: 44px;
  margin: 5px;
  border-radius: 999px;
  text-align: center;
  display: none;
  cursor: pointer;
  font-size: 1.1rem;
  float: left;
}
.stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 > .searchButton___2Sn7q.active___3dZvw {
  background-color: rgba(0, 0, 0, 0.05);
}
.stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 > .searchBar___37ylU {
  width: calc(100% - 100px - 170px);
  max-width: 640px;
  height: 54px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  float: left;
}
@media (max-width: 768px) {
  .stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 {
    position: relative;
  }
  .stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 > .searchButton___2Sn7q {
    display: block;
  }
  .stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 > .searchBar___37ylU {
    width: 100%;
    position: absolute;
    padding: 0 10px;
    top: 54px;
    left: 0;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    float: none;
    display: none;
  }
  .stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 > .searchBar___37ylU.visible___dpcYH {
    display: flex;
  }
}
.stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 > .menu___2NIgH {
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  float: right;
  background-color: #fff;
}
.stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 > .menu___2NIgH .nagivation___20Ihf {
  display: flex;
}
.stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 > .menu___2NIgH .nagivation___20Ihf a {
  text-transform: uppercase;
  cursor: pointer;
  color: #555;
  margin: 5px 10px;
}
.stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 > .menu___2NIgH .nagivation___20Ihf a:hover {
  color: #ff8800;
}
.stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 > .menu___2NIgH .user___3AVPh {
  display: flex;
  align-items: center;
}
.stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 > .menu___2NIgH .user___3AVPh .content___ADiyX {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  font-size: 1.2rem;
  margin-right: 8px;
}
.stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 > .menu___2NIgH .user___3AVPh .content___ADiyX:hover {
  background-color: #eee;
}
.stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 > .menu___2NIgH .user___3AVPh .content___ADiyX a {
  display: block;
  color: #333;
}
.stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 > .menu___2NIgH .user___3AVPh .board___25KnG {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  font-size: 1.2rem;
  margin-right: 8px;
  color: #333;
}
.stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 > .menu___2NIgH .user___3AVPh .board___25KnG:hover {
  background-color: #eee;
}
.stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 > .menu___2NIgH .user___3AVPh .profile___sjgZ4 {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  margin: 0;
  display: flex;
  justify-content: end;
  border-radius: 999px;
  background-color: #f5f5f5;
}
.stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 > .menu___2NIgH .user___3AVPh .profile___sjgZ4 .button___1ixhw {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  text-align: center;
}
.stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 > .menu___2NIgH .user___3AVPh .profile___sjgZ4 .button___1ixhw:nth-of-type(1) a {
  height: 40px;
  line-height: 0;
  padding: 4px;
  display: block;
}
.stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 > .menu___2NIgH .user___3AVPh .profile___sjgZ4 .button___1ixhw:nth-of-type(1) a img {
  width: 32px;
  height: 32px;
  border-radius: 999px;
  vertical-align: middle;
}
.stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 > .menu___2NIgH .user___3AVPh .profile___sjgZ4 .button___1ixhw:nth-of-type(2):hover {
  background-color: #eee;
}
.stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 > .menu___2NIgH .user___3AVPh .login___huEYN,
.stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 > .menu___2NIgH .user___3AVPh .signUp___2FbSd {
  width: 110px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  margin: 0;
  display: flex;
  justify-content: end;
  border: 1px solid #ddd;
}
.stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 > .menu___2NIgH .user___3AVPh .login___huEYN a,
.stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 > .menu___2NIgH .user___3AVPh .signUp___2FbSd a {
  width: 100%;
  color: #000;
  display: block;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
}
.stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 > .menu___2NIgH .user___3AVPh .login___huEYN a > span:last-child,
.stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 > .menu___2NIgH .user___3AVPh .signUp___2FbSd a > span:last-child {
  font-size: 0.7rem;
  font-weight: bold;
}
.stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 > .menu___2NIgH .user___3AVPh .signUp___2FbSd {
  margin-right: 5px;
}
@media (max-width: 575.98px) {
  .stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 > .menu___2NIgH .user___3AVPh .content___ADiyX {
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin-right: 6px;
  }
  .stdioHeader___3SkSo .stdioHeaderFloat___2UraN > .stdioHeaderFloatCenter___3GAa1 > .menu___2NIgH .user___3AVPh .board___25KnG {
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin-right: 6px;
  }
}

.ant-popover-inner-content___FeDPR {
  padding: 0px !important;
}
.SECTION___3f37D {
  width: 100%;
  display: flex;
  justify-content: center;
}
.SECTION___3f37D > .SECTION_CENTER___dgg18 {
  width: 100%;
  max-width: 1600px;
  padding: 0 40px;
}
@media (max-width: 768px) {
  .SECTION___3f37D > .SECTION_CENTER___dgg18 {
    padding: 0 10px;
  }
}
.BUTTON___13J1g {
  width: auto;
  height: 32px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  border: 1px solid #aaa;
}
@media (max-width: 575.98px) {
  .ioHideOnPhone___1IUeu {
    display: none !important;
  }
}
@media (min-width: 576px) {
  .ioHideOnPC___mIt8V {
    display: none !important;
  }
}
.stdioFooter___3jbgs {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #000;
  padding: 40px 0 0 0;
}
.stdioFooter___3jbgs > .SECTION_CENTER___dgg18 {
  width: 100%;
  max-width: 1600px;
  padding: 0 40px;
}
@media (max-width: 768px) {
  .stdioFooter___3jbgs > .SECTION_CENTER___dgg18 {
    padding: 0 10px;
  }
}
.stdioFooter___3jbgs .stdioFooterCenter___2BGxt {
  width: 100%;
  max-width: 1600px;
  padding: 0 40px;
}
@media (max-width: 768px) {
  .stdioFooter___3jbgs .stdioFooterCenter___2BGxt {
    padding: 0 10px;
  }
}
.stdioFooter___3jbgs .stdioFooterCenter___2BGxt .connections___gKsGD {
  width: 100%;
  float: left;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 3fr;
  grid-gap: 30px;
}
.stdioFooter___3jbgs .stdioFooterCenter___2BGxt .connections___gKsGD .col___1S--v {
  width: 100%;
}
.stdioFooter___3jbgs .stdioFooterCenter___2BGxt .connections___gKsGD .col___1S--v .logo___3Jylt {
  width: 100%;
  height: 64px;
  float: left;
}
.stdioFooter___3jbgs .stdioFooterCenter___2BGxt .connections___gKsGD .col___1S--v .logo___3Jylt a {
  height: 32px;
  line-height: 32px;
  color: #fff;
  float: left;
}
.stdioFooter___3jbgs .stdioFooterCenter___2BGxt .connections___gKsGD .col___1S--v .logo___3Jylt a img {
  height: 100%;
  margin-right: 10px;
}
.stdioFooter___3jbgs .stdioFooterCenter___2BGxt .connections___gKsGD .col___1S--v h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  color: #fff;
  margin-bottom: 6px;
}
.stdioFooter___3jbgs .stdioFooterCenter___2BGxt .connections___gKsGD .col___1S--v ul {
  padding: 0;
  margin: 0;
}
.stdioFooter___3jbgs .stdioFooterCenter___2BGxt .connections___gKsGD .col___1S--v ul li {
  padding: 0;
  list-style: none;
  min-height: 25px;
  color: #fff;
  font-size: 0.8rem;
}
.stdioFooter___3jbgs .stdioFooterCenter___2BGxt .connections___gKsGD .col___1S--v ul li a {
  color: #fff;
  cursor: pointer;
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .stdioFooter___3jbgs .stdioFooterCenter___2BGxt .connections___gKsGD {
    grid-template-columns: 1fr 2fr 2fr 2fr;
  }
  .stdioFooter___3jbgs .stdioFooterCenter___2BGxt .connections___gKsGD .col___1S--v:nth-child(5) {
    grid-column: 1 / span 4;
  }
}
@media screen and (max-width: 575.98px) {
  .stdioFooter___3jbgs .stdioFooterCenter___2BGxt .connections___gKsGD {
    grid-template-columns: 1fr 1fr;
  }
  .stdioFooter___3jbgs .stdioFooterCenter___2BGxt .connections___gKsGD .col___1S--v:nth-child(5) {
    grid-column: 1 / span 2;
  }
}
.stdioFooter___3jbgs .stdioFooterCenter___2BGxt .credit___C_M86 {
  width: 100%;
  text-align: center;
  border-top: 1px solid #222;
  color: #777;
  margin-top: 30px;
  padding: 10px 0;
  float: left;
}

.ant-popover-inner-content___ELOfY {
  padding: 0px !important;
}
.loading___2Kzn9 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(100%);
}
.loading___2Kzn9 img {
  width: 32px;
  height: 32px;
}

.ant-popover-inner-content___2eGQg {
  padding: 0px !important;
}
.SECTION___2DC0v {
  width: 100%;
  display: flex;
  justify-content: center;
}
.SECTION___2DC0v > .SECTION_CENTER___1C2ri {
  width: 100%;
  max-width: 1600px;
  padding: 0 40px;
}
@media (max-width: 768px) {
  .SECTION___2DC0v > .SECTION_CENTER___1C2ri {
    padding: 0 10px;
  }
}
.BUTTON___3Q9Jo {
  width: auto;
  height: 32px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  border: 1px solid #aaa;
}
@media (max-width: 575.98px) {
  .ioHideOnPhone___WWGPc {
    display: none !important;
  }
}
@media (min-width: 576px) {
  .ioHideOnPC___uG5mv {
    display: none !important;
  }
}
.mainLayout___17YA4 {
  width: 100%;
  min-height: 100%;
  background-color: #fff;
  overflow: hidden;
}
.mainLayout___17YA4 .contentLayout___KQB1f {
  margin: 0;
  background-color: #fff;
  min-height: 80vh;
}
.mainLayout___17YA4 .ant-back-top___fTDJp {
  right: 2.35rem;
  bottom: 7rem;
}

